.error {
	color: red;
	display: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.contact-container {
	text-align: center;
	margin: 0 auto;
}

.contact-p {
	padding: 3.9rem 0;
}

.form_div {
	max-width: 100%;
	margin: 0 auto;
}

.form_div input {
	width: 100%;
	padding: 1.2rem;
	margin: 2rem 0;
	border-radius: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.12rem;
	border: none;
	background-color: var(--light-blue-color);
}

.submit-btn {
	width: 100%;
	margin: 2.4rem 0;
	padding: 1.8rem;
	background-color: #000;
	color: #fff;
	border: none;
	text-transform: uppercase;
	letter-spacing: 0.16rem;
	font-size: 1.6rem;
	font-family: var(--main-font);
	border-radius: 1rem;
}
.submit-btn:hover {
	cursor: pointer;
	background-color: var(--secondary-font-color);
	color: #000;
	opacity: 1;
	transition: 0.2s ease;
}

.contact-form-container {
	width: 40%;
}
