/* hero */
.hero {
	width: 100%;
	height: 100vh;
	background-color: #000;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: space-around;
	text-align: center;
}

.hero-containers {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 122.5rem;
}

.hero-title {
	width: 100%;
	max-width: 122.5rem;
	display: flex;
	justify-content: center;
	margin-top: -3rem;
}

.hero-title h1 {
	font-weight: 800;
	font-size: 6.4rem;
	color: #fff;
	letter-spacing: 0.74rem;
	text-align: center;
}

.hero-buttons {
	width: 100%;
	max-width: 122.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: #fff;
}

.hero--about-btn,
.hero--projects-btn,
.hero--contact-btn {
	margin: 5rem;
}

.btn-cta {
	border: solid 2px #fff;
	border-radius: 2rem;
	padding: 1.8rem 3.8rem;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.28rem;
	font-size: 2.2rem;
	color: #fff;
	transition: 0.3s;
	opacity: 1;
	background-color: transparent;
}

.btn-cta:hover {
	color: #000;
	opacity: 1;
	transition: 0.2s ease;
	background: linear-gradient(180deg, #00c2ff, #fbdce1);
}

.hero-jessica-mitchell-container {
	width: 100%;
	max-width: 122.5rem;
	height: 50vh;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	bottom: 0.5rem;
	padding-top: 1rem;
}

.hero--jessica h2,
.hero--mitchell h2 {
	font-size: 11rem;
	font-weight: 800;
	background: -webkit-linear-gradient(#00ffff, #00c2ff);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	animation: grow 1s forwards;
	animation-delay: 0.5s;
}

.hero--jessica {
	width: 80%;
	max-width: 80%;
	text-align: left;
}

.hero--asterisk {
	font-size: 5rem;
	animation: spin 1s forwards;
	animation-delay: 1.7s;
}

.hero--mitchell {
	width: 100%;
	max-width: 100%;
	align-self: flex-end;
	text-align: right;
	padding-right: 2rem;
	margin-bottom: -9.9rem;
	margin-left: -2rem;
	height: 45vh;
}

/* about me section */
.about-container {
	padding: 0 2rem;
}

.about-title {
	padding: 5.9rem 0;
}

.about-me img {
	width: 100%;
}

.about-info-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 4.8rem 0;
}

.about-me {
	width: 100%;
	text-align: center;
	padding-bottom: 2.4rem;
}

.about-myname {
	margin-top: 2.4rem;
}

.about-me h5,
.about-me h6 {
	padding: 0.4rem 0;
}

.about-text p {
	letter-spacing: 0.16rem;
	line-height: 2.56rem;
	margin-bottom: 2.56rem;
}

.about-text {
	width: 100%;
}

/* projects section */
.projects-container {
	padding: 0 2.4rem;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.projects-container h3,
.projects-container h4,
.projects-container h5 {
	text-transform: uppercase;
}

.projects-info-container {
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 2.4rem 0;
}

.projects-number {
	width: 30%;
}

.projects-text {
	width: 70%;
}

.projects-text a {
	font-size: 2.8rem;
	text-transform: uppercase;
	line-height: 5.76rem;
	letter-spacing: 0.3rem;
	font-weight: 700;
	color: #000;
}

.projects-text h3 {
	font-size: 2.8rem;
}

.projects-text h4 {
	font-size: 2rem;
}

.projects-text a:hover {
	background-color: var(--light-blue-color);
	padding: 1rem;
	opacity: 1;
	transition: 0.2s ease;
}

.projects-container .asterisk-linebreak {
	padding-top: 5.9rem;
}

.get-in-touch-link {
	font-size: 1.8rem;
	font-family: var(--main-font);
	line-height: 3.2rem;
	letter-spacing: 0.2rem;
	color: #000;
}

.see-more-work {
	padding: 2.4rem 0;
}

.see-more-work h5,
.see-more-work a {
	display: inline-block;
}

.see-more-work a:hover {
	background-color: var(--light-blue-color);
	padding: 0.5rem;
	opacity: 1;
	transition: 0.2s ease;
}

/* contact section */
.contact-container {
	padding: 0 2.4rem;
}

.contact-info-p {
	width: 100%;
	padding: 2.4rem 0;
	text-align: left;
}

.contact-container .asterisk-linebreak {
	padding-top: 5.9rem;
}

.error {
	color: red;
	display: none;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.contact-container {
	text-align: center;
	margin: 0 auto;
}

.contact-p {
	padding: 3.9rem 0;
}

.form_div {
	max-width: 100%;
	margin: 0 auto;
}

.form_div input {
	width: 100%;
	padding: 1.2rem;
	margin: 2rem 0;
	border-radius: 1rem;
	text-transform: uppercase;
	letter-spacing: 0.12rem;
	border: none;
	background-color: var(--light-blue-color);
}

.submit-btn {
	width: 100%;
	margin: 2.4rem 0;
	padding: 1.8rem;
	background-color: #000;
	color: #fff;
	border: none;
	text-transform: uppercase;
	letter-spacing: 0.16rem;
	font-size: 1.6rem;
	font-family: var(--main-font);
	border-radius: 1rem;
}
.submit-btn:hover {
	cursor: pointer;
	background-color: var(--secondary-font-color);
	color: #000;
	opacity: 1;
	transition: 0.2s ease;
}

.contact-form-container {
	width: 100%;
}

/* work with me section */
.text-banner {
	border-top: solid 1px black;
	border-bottom: solid 1px black;
	padding-left: 0;
	width: 100%;
	left: -15rem;
	overflow: hidden;
	white-space: nowrap;
}

.marquee {
	display: inline-block;
	text-indent: 0;
	-moz-transform: translateX(100%);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-moz-animation: scroll-left 2s linear infinite;
	-webkit-animation: scroll-left 2s linear infinite;
	animation: scroll-left 15s linear infinite;
}
